{% extends "layout.html" %} {% block content %}
<html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<body id="grad">
    <div class="container">
            <div class = "row">
                <div class = "col-lg-12 medium">
                    <span class = "heading">Quizzes:</span>
                    <br><br>
                    <a class = "white-text" href = "/quiz/1/1">Tequila Sunrise Quiz</a>
                    <br>
                    <a class = "white-text" href = "/quiz/2/1">Gin and Tonic Quiz</a>
                    <br>
                    <a class = "white-text" href = "/quiz/3/1">Margarita Quiz</a>
                </div>
            </div>
    </div>
<body>
{% endblock %}
